@import '../../responsiveScss/media';

footer {
    height: 30px;
    padding: 10px 0;
    width: 100%;
    display: block;
    background-color: #27273c;
    
    @include md {
        height: 20px;
    }

    p {
        color: white;
        text-align: center;
        margin: 0;
        padding-top: 2px;

        @include md {
            font-size: 12px;
            margin-top: -1px;
        }

        a {
            text-decoration: none;
            color: white;
            outline: none;

            &:hover, &:focus {
                color: gray;
                text-decoration: underline;
            }
        }
    }
}